<?php if ($this->message): ?>
<h4><?= $this->message['subject']?></h4>
<div><?= $this->message['send_date']?></div>
<div><?= $this->message['sender']?></div>
<div><?=$this->message['message']?></div>
<?php else : ?>
    <?= $this->bootAlert(array('danger' => 'Возможно такого сообщения не существует или у вас нет доступа к нему')) ?>
<?php endif; ?>

<?= $this->cacheInfo($this->cacheData) ?>