<div id="dateForm"><?= $this->form; ?></div>
<?php if (is_array($this->traffic)): ?>
<?php if (count($this->traffic) > 0): ?>
    <?php $summa = 0 ?>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Мб</th>
            <th>Стоимость</th>
            <th>Списано</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->traffic as $traffic): ?>
        <tr>
            <td><?= $traffic['tclass_name']?></td>
            <td><?= number_format($traffic['mbytes'],2)?></td>
            <td><?= $traffic['base_cost'];?></td>
            <td><?= $traffic['discount']?></td>
            <?php $summa += $traffic['discount'];?>
        </tr>
            <?php endforeach;?>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <b>Итого:</b>
            </td>
            <td><b><?=$summa?></b></td>
        </tr>
        </tfoot>
    </table>
    <?php else : ?>
        <?= $this->bootAlert(array('success'=> 'Нет данных')) ?>
    <?php endif; ?>

</div>

<?php else : ?>
    <?= $this->bootAlert(array('info'=> 'Выберите период для построения отчёта')) ?>
<?php endif; ?>

<?= $this->cacheInfo($this->cacheData) ?>