<?php echo $this->doctype() ?>
<html>

<head>
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta() ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php echo $this->headStyle() ?>

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/sticky-footer-navbar.css" rel="stylesheet"/>

    <?php echo $this->headLink()->appendStylesheet('/assets/css/style.css') ?>

    <!-- Bootstrap core JavaScript
================================================== -->
    <?php echo $this->JQuery()->setLocalPath('/assets/js/jquery/jquery.min.js')->enable();?>
    <?php echo $this->headScript()->appendFile('/assets/js/jquery/jquery.timeago.js')
        ->appendFile('/assets/js/jquery/jquery.timeago.ru.js')
    ?>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <base href="/"/>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">Личный кабинет</a>
        </div>
        <?php if ($this->identity): ?>
            <div class="collapse navbar-collapse">
                <?php //echo $this->navigation()->menu()->setUlClass('nav'); ?>
                <?php echo $this->render('_menu.phtml') ?>
            </div><!--/.nav-collapse -->
        <?php endif; ?>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h3><?php echo $this->title ?>
            <?php if (isset($this->identity->login)): ?>
                <span class="label label-default"><?= $this->identity->login; ?></span>
            <?php endif; ?></h3>
        <?php echo $this->timeago($this->cacheData); ?>
    </div>
    <div class="middle">
        <div id="content">
            <?php echo $this->flashMessages(); ?>
            <?php echo $this->layout()->content ?>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <?php echo $this->render('_footer.phtml') ?>
    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<?php echo $this->JQuery()->setUiLocalPath('/assets/js/jquery/jquery-ui.custom.min.js')->enable()
    ->addStylesheet('/assets/js/jquery/css/redmond/jquery-ui.custom.min.css'); ?>
<?php echo $this->headScript()->appendFile('/assets/bootstrap/js/bootstrap.min.js')
    ->appendFile('/assets/js/jquery/jquery.ui.datepicker-ru.js'); ?>
</body>
</html>

